<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/responsive.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/util.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="..//css/util.css">
</head>

<body>
    <header>
        <div class="kka">
            <img src="img/pic1.jpg" alt="logo" class="imgg">
        </div>
        
          <ul>
            <li><a href="home.html">HOME</a></li>
            <li><a href="about.html">ABOUT</a></li>
            <li><a href="contact.html">CONTACT US</a></li>
          </ul>

        
      <div class="search">
        <input type="text" name="" id="" aria-label="search here" placeholder="  search here">
        <div class="but">
          <button>
            search
         </button>
        </div>
      </div>
      <div class="lcontent">
        <div class="obj2">
          <div class="lik1">
            <a href="lik1.html"></a>
          </div>
        </div>
      </div>
    </header>
    <main>
    <div class="container">
        <div class="slide">
         <img src="../static/images/photo.png" alt="cricket" class="imkk">
         <img src="static/images/photo.png" alt="cricket" class="imkk">
        </div>
        <div class="kart">
          <h3>CRICKET ITEM ON SALE</h3>
          <div class="obj1">
            <div class="img1">
            <a href="img1.html"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQde1zsbWLJUHgEwAARjKCF20CtqGH9UK6M1FOelpZXKw&s" alt="cricket balls"></a>
               <div class="info1">
                  <div>Price:699</div> 
                  <div> Leather Ball</div>               
                  <div>.Min 50% Off</div>
               </div>
          </div>
          <div class="img2">
            <a href="img2.html"><img src="https://contents.mediadecathlon.com/p1977102/k$5ede8b63864a644806bd0cd6797da0ab/kids-cricket-kashmir-willow-bat-kw-100-lite-red.jpg?format=auto&quality=70&f=300x0" alt="bat" width="230px" height="130px"></a>
            <div class="info2">
              <div>Price:1299</div> 
              <div> Bat</div>               
              <div>.Min 20% Off</div>
            </div>

          </div>
          <div class="img3">
                
            <a href="img3.html"><img src="https://contents.mediadecathlon.com/p1979196/k$59f7a9ed570e0068d7c0e5afb7ad3894/kids-lightweight-beginner-cricket-helmet-ch-100-jr.jpg?format=auto&quality=70&f=300x0" alt="halmet" width="230px" height="130px"></a>
                 <div class="info3">
                  <div>Price:999</div> 
                   <div> Bat</div>               
                  <div>.Min 20% Off</div>
            
                 </div>
          </div>
          <div class="img4">
            <a href="img4.html"><img src="https://contents.mediadecathlon.com/p2239507/k$34a2a1349078098a52c8ce2f56c149e1/kids-cricket-batting-gloves-right-handed.jpg?format=auto&quality=70&f=300x0" alt="Gloves" width="230px" height="130px"></a>           
             <div class="info4">
              <div>Price:1299</div> 
              <div> Gloves</div>               
              <div>.Min 10% Off</div>
             </div>
           </div>
             <div class="img5">
              <a href="img5.html"><img src="https://contents.mediadecathlon.com/p2235338/k$07dd67d44d7ad06ea1ce775de7b64ace/adult-cricket-batting-pad-bp-500-lite-blue.jpg?format=auto&quality=70&f=300x0" alt="Cricket Pad" width="230px" height="130px"></a>
             <div class="info5">
              <div>Price:1599</div> 
              <div> pad</div>               
              <div>.Min 30% Off</div>
             </div>
            </div>
          </div>   
       </div>
       
       <div class="kart">
        <h5>Whites</h5>
        <h3>cricket</h3>
        <div class="obj1">
          <div class="img1">
          <a href="img1.html"><img src="https://contents.mediadecathlon.com/p2261743/5ad231ffa324c374246563ce5e3de068/p2261743.jpg?format=auto&quality=70&f=300x0" alt="white shirt"  width="230px" height="130px"></a>
             <div class="info1">
                <div>Price:499</div> 
                <div>Ftx White T-shirt</div>               
                <div>.Min 60% Off</div>
             </div>
        </div>
        <div class="img2">
          <a href="img2.html"><img src="https://contents.mediadecathlon.com/p2261749/ebc4c4c5bdcefbd143d93dd973aea070/p2261749.jpg?format=auto&quality=70&f=300x0" alt="white pant" width="230px" height="130px"></a>
          <div class="info2">
            <div>Price:499</div> 
            <div>White Lower</div>               
            <div>.Min 30% Off</div>
          </div>

        </div>
        <div class="img3">
              
          <a href="img3.html"><img src="https://contents.mediadecathlon.com/p1997057/7945e4362e2fc6e04e8c83797991f72a/p1997057.jpg?format=auto&quality=70&f=300x0" alt="Kids t-shirt" width="230px" height="130px"></a>
               <div class="info3">
                <div>Price:499</div> 
                 <div>White Kid T_shirt</div>               
                <div>.Min 30% Off</div>
          
               </div>
        </div>
        <div class="img4">
          <a href="img4.html"><img src="https://contents.mediadecathlon.com/p2334207/298320023c82d58451c5e2c9cb10a758/p2334207.jpg?format=auto&quality=70&f=300x0" alt="Advance Tshirt" width="230px" height="130px"></a>           
           <div class="info4">
            <div>Price:899</div> 
            <div>Advance Ftx Tshirt</div>               
            <div>.Min 10% Off</div>
           </div>
         </div>
           <div class="img5">
            <a href="img5.html"><img src="https://contents.mediadecathlon.com/p2346016/b4c4118685b0d2f9d1a94942aea7e5c6/p2346016.jpg?format=auto&quality=70&f=300x0" alt="Advance polo Lower" width="230px" height="130px"></a>
           <div class="info5">
            <div>Price:999</div> 
            <div>Advance FTX Lower</div>               
            <div>.Min 25% Off</div>
           </div>
          </div>
        </div>
        
        
     </div>
     <div class="kart">
      <h5>Bestseller</h5>
      <h3>CRICKET BATS</h3>
      <div class="obj1">
        <div class="img1">
        <a href="img1.html"><img src="https://contents.mediadecathlon.com/p1989789/fbefa13a5422d32ddbd39990966e5732/p1989789.jpg?format=auto&quality=70&f=300x0" alt="cricket bats" width="230px" height="130px"></a>
           <div class="info1">
              <div>Price:299</div> 
              <div>Kids Tennis Cricket Bat Grey</div>               
              <div>.Min 20% Off</div>
           </div>
      </div>
      <div class="img2">
        <a href="img2.html"><img src="https://contents.mediadecathlon.com/p2304425/9bc4b6f2a1cc11666488bfd6d3bfa6a9/p2304425.jpg?format=auto&quality=70&f=300x0" alt="bat" width="230px" height="130px"></a>
        <div class="info2">
          <div>Price:1699</div> 
          <div>Adult Tennis Ball Cricket Bat</div>               
          <div>.Min 22% Off</div>
        </div>

      </div>
      <div class="img3">
            
        <a href="img3.html"><img src="https://contents.mediadecathlon.com/p2034912/dd4fee77be77a8a841b09703eb28fb23/p2034912.jpg?format=auto&quality=70&f=300x0" alt="bats" width="230px" height="130px"></a>
             <div class="info3">
              <div>Price:699</div> 
               <div>Adult Cricket Tennis Bat Blue</div>               
              <div>.Min 36% Off</div>
        
             </div>
      </div>
      <div class="img4">
        <a href="img4.html"><img src="https://contents.mediadecathlon.com/p2228106/a3916cd2e4ac45a676514c2cb091e8dd/p2228106.jpg?format=auto&quality=70&f=300x0" alt="Bats" width="230px" height="130px"></a>           
         <div class="info4">
          <div>Price:1299</div> 
          <div> Gloves</div>               
          <div>.Min 10% Off</div>
         </div>
       </div>
         <div class="img5">
          <a href="img5.html"><img src="https://contents.mediadecathlon.com/p2407268/537f8ea9e1a32604000ce7568a73e9d5/p2407268.jpg?format=auto&quality=70&f=300x0S" alt="Cricket bat" width="230px" height="130px"></a>
         <div class="info5">
          <div>Price:499</div> 
          <div>Cricket Tennis Ball Cricket Bat-Blue</div>               
          <div>.Min 30% Off</div>
         </div>
         
        </div>
      </div>   
   </div>

    </main>
    <footer class="lame">
        <p>copyright &copy; Mykart</p>
    </footer>
</body>
</html>